In [1]:
import numpy as np
import pandas as pd

In [8]:
player=['player1','player2','player3']
point=[22,3,43]
title=['game1','game2','game3']
df1=pd.DataFrame({'Player':player,'Pont':point,"Title":title})
df1

    Player  Pont  Title
0  player1    22  game1
1  player2     3  game2
2  player3    43  game3

In [6]:
player=['player1','player5','player6']
power=['punch','kich','elbow']
title=['game1','game5','game6']
df2=pd.DataFrame({'Player':player,'Power':power,'Title':title})
df2

    Player  Power  Title
0  player1  punch  game1
1  player5   kich  game5
2  player6  elbow  game6

In [ ]:
#inner merge

In [12]:
df1.merge(df2,how='inner',on="Title")

  Player_x  Pont  Title Player_y  Power
0  player1    22  game1  player1  punch

In [14]:
df1.merge(df2,how='inner',on="Player")

    Player  Pont Title_x  Power Title_y
0  player1    22   game1  punch   game1

In [ ]:
#left merge

In [15]:
df1.merge(df2,on='Player',how='left')

    Player  Pont Title_x  Power Title_y
0  player1    22   game1  punch   game1
1  player2     3   game2    NaN     NaN
2  player3    43   game3    NaN     NaN

In [16]:
df1.merge(df2,on='Player',how='right')

    Player  Pont Title_x  Power Title_y
0  player1  22.0   game1  punch   game1
1  player5   NaN     NaN   kich   game5
2  player6   NaN     NaN  elbow   game6

In [ ]:
#outer merge

In [17]:
df1.merge(df2,on='Player',how='outer')

    Player  Pont Title_x  Power Title_y
0  player1  22.0   game1  punch   game1
1  player2   3.0   game2    NaN     NaN
2  player3  43.0   game3    NaN     NaN
3  player5   NaN     NaN   kich   game5
4  player6   NaN     NaN  elbow   game6

In [ ]:
#how to perform join operation

In [54]:
player=['player1','player2','player3']
point=[22,3,43]
title=['game1','game2','game3']
df3=pd.DataFrame({'Player':player,'Pont':point,"Titles":title},index=['l1','l2','l3'])
df3

     Player  Pont Titles
l1  player1    22  game1
l2  player2     3  game2
l3  player3    43  game3

In [52]:
player=['player1','player5','player6']
power=['punch','kich','elbow']
title=['game1','game5','game6']
df4=pd.DataFrame({'Player':player,'Power':power,'Titles':title},index=['l2','l3','l4'])
df4

     Player  Power Titles
l2  player1  punch  game1
l3  player5   kich  game5
l4  player6  elbow  game6

In [ ]:
#inner join

In [55]:
df3.join(df4,how='inner')

ValueError: columns overlap but no suffix specified: Index(['Player', 'Titles'], dtype='object')